server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sentinelzero
    username: sentinel
    password: sentinelpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
